<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.mybatis.mapper.UserMapper">
    <!--开启了二级缓存-->
    <cache />

    <cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true" />

    <select id="queryByTableName" parameterType="String" resultType="HashMap">
        SELECT * FROM ${tableName}
    </select>
    <resultMap id="userResultMap" type="User" autoMapping="true">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
    </resultMap>

    <select id="queryUserById" resultMap="userResultMap">
        SELECT <include refid="itcast.common.userColumns"/> FROM tb_user WHERE id=#{id}
    </select>
    <select id="login" resultType="User">
        SELECT * FROM tb_user WHERE user_name=#{userName} and password=#{passwd}
    </select>
    <select id="queryAll" resultType="User">
        SELECT * FROM tb_user
    </select>
    <insert id="saveUser" parameterType="User" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO tb_user
        (id, user_name, password, name, age, sex, birthday, created, updated)
        VALUES
        (null , #{userName}, #{password}, #{name}, #{age}, #{sex}, #{birthday}, NOW(), NOW());
    </insert>
    <update id="updateUser" parameterType="User">
        UPDATE tb_user
        SET user_name = #{userName},
        password = #{password},
        name = #{name}, age = #{age},
        sex = #{sex}, birthday = #{birthday},
        updated =NOW()
        WHERE id = #{id};
    </update>
    <delete id="deleteUserById" parameterType="long">
        DELETE FROM tb_user WHERE id=#{id}
    </delete>
    <select id="queryCount" resultType="Integer">
        SELECT COUNT(*) FROM ${tableName}
    </select>

    <select id="queryUserListLikeName" resultType="User">
        SELECT * FROM tb_user WHERE sex=1
        <if test="name!=null and name!=''">
        AND name LIKE '%${name}%'
        </if>
    </select>

    <select id="queryUserListLikeNameORAge" resultType="User">
        SELECT * FROM tb_user WHERE sex=1
        <choose>
            <when test="name!=null and name!=''">
                AND name LIKE '%${name}%'
            </when>
            <when test="age!=null and age!=''">
                AND age &lt; ${age}
            </when>
        </choose>
    </select>

    <select id="queryAllUserListLikeNameORAge" resultType="User">
        SELECT * FROM tb_user
        <where>
            <if test="name!=null and name!=''">
                AND name LIKE '%${name}%'
            </if>
            <if test="age!=null and age!=''">
                AND age &lt; ${age}
            </if>
        </where>
    </select>

    <select id="queryAllUserListByIds" resultType="User">
        SELECT * FROM tb_user WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>